
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --title-color:hsl(238, 29%, 16%);
    --title-color:hsl(14, 88%, 65%);
    --Violet: hsl(273, 75%, 66%);
    --soft: hsl(240, 73%, 65%);
    --container-color: hsl(0, 0%, 100%);

    --body-font: 'Kumbh Sans', sans-serif;
    --big-font-size: 2rem;
    --normal-font-size: .895rem;

    /* Font Weight */
    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 700;

}

img {
    max-width: 100%;
    max-height: 100%;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to top, var(--Violet), var(--soft) );
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-family: 'Kumbh Sans', sans-serif;
    
}

.card-image {
    position: relative;
    top: 25%;
    right: 20%;
    filter: drop-shadow(0 30px 2px hsla(240, 73%, 65%, .15))
}



.card {
    display: flex;
    width: 65vw;
    background-color: white;
    border-radius: 20px;
    padding-bottom: 50px;
    overflow: hidden;
}

.card-title {
    padding: 55px 0px 35px 0px;
}

.content {
    position: relative;
    right: 8%;
    margin-left: 50px;
    padding-left: 80px;
    padding-right: 50px;    
}

.box-content {
    margin-bottom: 10px;
}

.box-title {
    display: flex;
    justify-content: space-between;
    font-size: 0.6rem;  
}

.box-title > i {
    margin-top: 5px;
}

.box-title > h2 {
    font-weight: 500;
    transition: .3s;
    margin-bottom: 1rem;
}

.box-title > h2:hover {
    font-weight: 700;
    cursor: pointer;
}

.box-title > .card-icon:hover {
    cursor: pointer;
    color: red;
}



.box-title > i {
    color: var(--title-color);
    font-weight: 700;
}

.pa {
    font-size: 0.8rem;
}

.paragrafo {
    font-size: 0.8rem;
    transition: .3s;
    height: 0;
    overflow: hidden;
    
}




